<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                'short-footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Quên mật khẩu</title>
    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <style>
            .card {
                border: none;
                -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
                box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
            }

            body {
                background: rgb(244, 246, 249);
            }
        </style>
    </th:block>
</head>
<body>
<main id="main-content" style="background: rgb(244, 246, 249);">
    <div class="container-login container-fluid my-5">
        <div class="d-flex justify-content-center pt-5">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card px-2 py-3">
                    <div class="card-title">Quên mật khẩu</div>
                    <div class="card-body">
                        <form id="form-forgot-password">
                            <div class="form-group">
                                <div>Vui lòng nhập email để tìm kiếm tài khoản của bạn.</div>
                                <input name="email"
                                       type="email"
                                       class="form-control"
                                       required
                                       autocomplete="autocomplete"
                                       placeholder="Email"
                                       aria-label="Email">
                                <span class="invalid-feedback" id="invalid-feedback__email"></span>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <div class="mt-3">
                                    <a class="btn btn-secondary" th:href="@{/login}">Hủy</a>
                                    <button class="btn btn-primary btn-search-email"
                                            th:form="form-forgot-password">Tiếp tục
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script>
        $(document).on("click", ".btn-search-email", function (event) {
            event.preventDefault();
            const form = $(this.form)
            $.ajax({
                url: '/api/forgot-password',
                type: 'POST',
                data: JSON.stringify(getFormData(form)),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    window.location = "/forgot-password/" + res.data;
                },
                error: function (error) {
                    let data = error.responseJSON
                    if (data.errors instanceof Array) {
                        toastr.error(data.message);
                        $('.invalid-feedback').hide()
                        $.map(data.errors, function (e) {
                            let obj = $(`#invalid-feedback__${e.field}`)
                            obj.show();
                            obj.text(e.message)
                        })
                    } else {
                        toastr.error(data);
                    }
                },
            });
        })
    </script>
</th:block>
</body>
</html>