<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>

    <th:block id="css-resources">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách user</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-new-user">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm tài khoản</span>
        </button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="heading">
                                <th>#ID</th>
                                <th class="text-capitalize text-nowrap" width="20%">Họ Tên</th>
                                <th class="text-capitalize text-nowrap" width="15%">email</th>
                                <th class="text-capitalize text-nowrap" width="15%">SĐT</th>
                                <th class="text-capitalize text-nowrap" width="20%">Địa chỉ</th>
                                <th class="text-capitalize text-nowrap" width="10%">role</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="list-user">
                            <th:block th:each="user : ${users}">
                                <tr th:data-id="${user.getId()}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:if="${user.getIsDeleted()}" class="is-deleted text-capitalize text-nowrap"
                                        th:text="${user.getFirstName()}"></td>
                                    <td th:unless="${user.getIsDeleted()}" class="text-capitalize text-nowrap"
                                        th:data-id="${user.getId()}" th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${user.getPhone()}"></td>
                                    <td th:text="${user.getAddress()}"></td>
                                    <td th:if="${user.getIsDeleted()}" class="is-deleted text-capitalize text-nowrap"
                                        th:text="${user.getRoles()}"></td>
                                    <td th:unless="${user.getIsDeleted()}" class="text-capitalize text-nowrap"
                                        th:text="${user.getRoles()}"></td>
                                    <td>
                                        <button class="btn btn-view-edit__user" th:data-id="${user.getId()}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-confirm-delete__user" th:data-id="${user.getId()}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add new user-->
    <div class="modal fade" id="modal-add-new-user" tabindex="-1" role="dialog" aria-labelledby="modalAddNewUser"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-add__user">
                        <div class="form-group">
                            <label class="required-label" for="full-name--new">Họ tên</label>
                            <input name="firstName" required
                                   type="text" minlength="2" maxlength="255"
                                   class="form-control" id="full-name--new">
                            <span class="invalid-feedback" id="invalid-feedback__firstName--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label min-w-20 mr-1">Giới Tính</label>
                            <div class="form-check form-check-inline mr-4 ">
                                <input name="gender" value="0" required type="radio"
                                       class="form-check-input" id="gender-male--new">
                                <label class="form-check-label" for="gender-male--new"> Nam </label>
                            </div>
                            <div class="form-check form-check-inline mr-4 ">
                                <input name="gender" value="1" required type="radio"
                                       class="form-check-input" id="gender-female--new">
                                <label class="form-check-label" for="gender-female--new"> Nữ </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="gender" value="2" required type="radio"
                                       class="form-check-input" id="gender-other--new">
                                <label class="form-check-label" for="gender-other--new"> Khác </label>
                            </div>
                            <div class="">
                                <span class="invalid-feedback" id="invalid-feedback__gender--new"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required-label" for="email--new">Email</label>
                            <input name="email" required type="email" class="form-control" id="email--new">
                            <span class="invalid-feedback" id="invalid-feedback__email--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label" for="phone--new">SĐT</label>
                            <input name="phone" required
                                   type="tel" pattern="0[1-9][0-9]{8}"
                                   class="form-control"
                                   id="phone--new">
                            <span class="invalid-feedback" id="invalid-feedback__phone--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label" for="address--new">Địa chỉ</label>
                            <input name="address" minlength="5" maxlength="511" required type="text"
                                   class="form-control" id="address--new">
                            <span class="invalid-feedback" id="invalid-feedback__address--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label min-w-20 mr-1">Roles</label>
                            <div class="form-check form-check-inline">
                                <input name="roles[]" value="ADMIN" required
                                       id="roles-admin--new" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="roles-admin--new">ADMIN</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="roles[]" value="USER" required
                                       id="roles-user--new" class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="roles-user--new">USER</label>
                            </div>
                            <div class="">
                                <span class="invalid-feedback" id="invalid-feedback__roles--new"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary btn-add__user--new" form="form-add__user">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update user-->
    <div class="modal fade" id="modal-update-user" tabindex="-1" role="dialog" aria-labelledby="modalUpdateUser"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-user">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete user-->
    <div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUser"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="d-none" hidden id="delete-user-id">
                    <span>Bạn chắc chắn muốn xóa user?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-user">Xóa</button>
                </div>
            </div>
        </div>
    </div>

</main>

<th:block id="js-resources">
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- main js -->
    <script th:src="@{/script/admin/manage-user.js}"></script>
</th:block>
</body>
</html>


