<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách nhãn hiệu</title>

    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/modal_img.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/brand.css}">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách nhãn hiệu</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-new-brand">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm nhãn hiệu</span>
        </button>
        <a role="button" class="btn btn-info" href="/admin/brands">
            <span class="fas fa-redo-alt" style="margin-right:0.5rem;"></span>
            <span>Refresh</span>
        </a>
        <button class="btn btn-secondary" id="btn-search">
            <span class="fas fa-search" style="margin-right:0.5rem;"></span>
            <span>Tìm kiếm</span>
        </button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <form method="GET" id="search-form">
                            <input type="hidden" value="1" name="page" id="page">
                            <input type="hidden" th:value="${formSearch.getOrder()}" name="order" id="order">
                            <input type="hidden" th:value="${formSearch.getDirection()}" name="direction"
                                   id="direction">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr class="heading">
                                    <th style="width: 50px;">#</th>
                                    <th class="text-capitalize text-nowrap thuy-sort-area" data-order="name"
                                        width="30%">
                                        <span> Nhãn hiệu</span>
                                        <i class="fa fa-sort float-right" style="margin-top: 3px;"></i>
                                    </th>
                                    <th class="text-capitalize text-nowrap thuy-sort-area" data-order="products.size">
                                        <span>Số lượng sản phẩm</span>
                                        <i class="fa fa-sort float-right" style="margin-top: 3px;"></i>
                                    </th>
                                    <th></th>
                                </tr>
                                <tr class="heading-search">
                                    <th></th>
                                    <th>
                                        <input th:value="${formSearch.getName}" type="text" name="name"
                                               class="form-control thuy-search-input" aria-label="">
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="list-brand">
                                <th:block th:each="brand, state : ${brands.content}">
                                    <tr th:data-id="${brand.getId()}">
                                        <td th:text="${state.count}"></td>
                                        <td th:if="${brand.getIsDeleted()}" class="is-deleted"
                                            th:text="${brand.getName()}"></td>
                                        <td th:unless="${brand.getIsDeleted()}" th:text="${brand.getName()}"></td>
                                        <td th:text="${brand.productCount}"></td>
                                        <td class="text-right">
                                            <button class="btn btn-view-edit__brand" th:data-id="${brand.getId()}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-confirm-delete__brand" th:data-id="${brand.getId()}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <!-- Pagination -->
                    <div th:if="${brands.getCurrentPage() < brands.getTotalPages()}" class="text-center">
                        <button class="btn btn-default btn-load-more">load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add new brand-->
    <div class="modal fade" id="modal-add-new-brand" tabindex="-1" role="dialog" aria-labelledby="modalAddNewBrand"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm nhãn hiệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-add__brand" action="#">
                        <div class="form-group">
                            <label class="required-label" for="name--new">Tên nhãn hiệu</label>
                            <input name="name" type="text" class="form-control" id="name--new" required>
                            <span class="invalid-feedback" id="invalid-feedback__name--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label" for="slug--new">slug</label>
                            <input name="slug" type="text" class="form-control" id="slug--new" required>
                            <span class="invalid-feedback" id="invalid-feedback__slug--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="" for="description--new">Mô tả</label>
                            <textarea name="description" class="form-control" id="description--new"></textarea>
                            <span class="invalid-feedback" id="invalid-feedback__description--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="mr-4">Logo</label>
                            <div class="thumbnail-container" style="display:none">
                                <div class="img-div">
                                    <input type="text" name="thumbnail" hidden>
                                    <img class="preview-img" alt="Thumbnail post" src="#">
                                </div>
                            </div>
                            <div class="invalid-feedback" id="invalid-feedback__thumbnail--new"></div>
                            <button type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#choose-img-modal">
                                Chọn ảnh
                            </button>
                        </div>
                        <div>
                            <div class="d-flex flex-row-reverse"
                                 data-toggle="collapse" data-target="#setting-seo"
                                 aria-controls="setting-seo" aria-expanded="false">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div class="collapse" id="setting-seo">
                                <div class="form-group">
                                    <label class="" for="metaTitle--new">meta title</label>
                                    <input name="metaTitle" type="text" class="form-control" id="metaTitle--new"
                                           required>
                                    <span class="invalid-feedback" id="invalid-feedback__metaTitle--new"></span>
                                </div>
                                <div class="form-group">
                                    <label class="" for="metaKeyword--new">meta keyword</label>
                                    <input name="metaKeyword" type="text" class="form-control" id="metaKeyword--new"
                                           required>
                                    <span class="invalid-feedback" id="invalid-feedback__metaKeyword--new"></span>
                                </div>
                                <div class="form-group">
                                    <label class="" for="metaDescription--new">meta description</label>
                                    <textarea name="metaDescription" class="form-control"
                                              id="metaDescription--new"></textarea>
                                    <span class="invalid-feedback" id="invalid-feedback__metaDescription--new"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add__brand--new" form="form-add__brand">Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update brand-->
    <div class="modal fade" id="modal-update-brand" tabindex="-1" role="dialog" aria-labelledby="modalUpdateBrand"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa nhãn hiệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-brand">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete brand-->
    <div class="modal fade" id="modal-delete-brand" tabindex="-1" role="dialog" aria-labelledby="modalDeleteBrand"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa nhãn hiệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="delete-brand-id">
                    <span>Bạn chắc chắn muốn xóa nhãn hiệu?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-brand">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragment/choose_img_modal :: choose-img-modal}"></th:block>
</main>

<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/adminlte/dist/js/table.js}"></script>
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- Modal img js -->
    <script th:src="@{/adminlte/dist/js/modal_img.js}"></script>
    <!-- main js -->
    <script th:src="@{/script/admin/manage-brand.js}"></script>

    <script th:inline="javascript">
        $(function () {
            let imgs = [[${images}]];
            let tmp = [];
            imgs.forEach(img => tmp.push({"grid-item-img": img}))
            initListImg(tmp);
        })

        var order, page, direction;

        $(function () {
            let vars = parseUrl();
            order = vars["order"] || ""
            page = vars["page"] || "1"
            direction = vars["direction"] || ""

            $(`#search-form input[name='order']`).val(order)
            $(`#search-form input[name='page']`).val(page)
            $(`#search-form input[name='direction']`).val(direction)

            let th = $('.heading').find(`[data-order='${order}']`)
            th.find('i').removeClass("fa-sort")
            if (direction === "asc")
                th.find('i').addClass("fas fa-sort-up")
            else
                th.find('i').addClass("fas fa-sort-down")
        })


        $('.btn-load-more').click(function () {
            loadMore()
        })

        $(window).scroll(function() {
            if(Math.abs($(window).scrollTop() - ($(document).height() - $(window).height())) < 1) {
                loadMore()
                console.log($(window).scrollTop())
            }
        });

        let loadMore = () => {
            if (!$('.btn-load-more')[0])
                return;
            const form = $('#search-form')
            let page_input = $('#search-form input[name="page"]')
            let currentPage = page_input.val();
            page_input.val(++currentPage)

            $.ajax({
                url: '/api/admin/brands?' + serialize(getFormData(form)),
                type: 'GET',
                success: function (res) {
                    toastr.success(res.message);
                    let data = res.data.content
                    let count = $('tbody.list-brand > tr').length;
                    if (res.data.currentPage >= res.data.totalPages)
                        $('.btn-load-more').remove()

                    $('.list-brand').append(data.map(brand => `
                         <tr data-id="${brand.id}">
                            <td>${++count}</td>
                            <td class="${brand.isDeteled ? 'is-deleted': ''}">${brand.name}</td>
                            <td>${brand.productCount}</td>
                            <td class="text-right">
                                <button class="btn btn-view-edit__brand" data-id="${brand.id}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-confirm-delete__brand" data-id="${brand.id}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    `).reduce((a, b) => a + b))
                    formatMoney()
                },
                error: function (error) {
                    let data = error.responseJSON
                    toastr.error(data.message);
                },
            });
        }
    </script>
</th:block>
</body>
</html>


