<th:block th:fragment="full-footer">
    <footer class="footer">
        <div class="footer-child">
            <div class="container">
                <div class="footer-newsletter">
                    <ul class="footer-newsletter-item">
                        <li class="social-item">
                            <a href="#" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="youtube">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-newsletter-item">
                        <div class="social-item">
                            <a class="message" href="#"><i class="fas fa-envelope"></i></a>
                        </div>
                        <p>Bạn muốn là người sớm nhất nhận khuyến mãi đặc biệt?<br/>
                            Đăng ký ngay.</p>
                    </div>
                    <div class="footer-newsletter-item">
                        <form class="form-submit">
                            <label>
                                <input placeholder="Thả email nhận ưu đãi" type="email" class="input-email">
                            </label>
                            <button type="submit" class="submit-email">
                                Đăng ký
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-child">
            <div class="container">
                <div class="footer-link">
                    <div class="footer-link-item">
                        <h3 class="footer-link-title">Thông tin công ty</h3>
                        <ul>
                            <li>Giới thiệu công ty</li>
                            <li>Quy chế hoạt động sàn TMĐT</li>
                            <li>Hệ thống cửa hàng</li>
                            <li>Mua hàng doanh nghiệp</li>
                            <li>Tuyển dụng</li>
                            <li>Liên hệ</li>
                        </ul>
                    </div>
                    <div class="footer-link-item">
                        <h3 class="footer-link-title">Danh mục hàng đầu</h3>
                        <ul>
                            <li>Máy lạnh</li>
                            <li>Máy giặt</li>
                            <li>Tủ lạnh</li>
                            <li>Tivi</li>
                            <li>Gia dụng</li>
                        </ul>
                    </div>
                    <div class="footer-link-item">
                        <h3 class="footer-link-title">Chính sách</h3>
                        <ul>
                            <li>Trả góp</li>
                            <li>Ưu đãi đối tác</li>
                            <li>Điều kiện giao dịch</li>
                            <li>Bảo vệ thông tin người dùng</li>
                            <li>Bảo mật giao dịch của khách hàng</li>
                            <li>Chính sách bảo hành</li>
                            <li>Chính sách và quy định thanh toán</li>
                            <li>Chính sách 30 ngày đổi mới</li>
                        </ul>
                    </div>
                    <div class="footer-link-item">
                        <h3 class="footer-link-title">Hỗ trợ khách hàng</h3>
                        <ul>
                            <li>Hướng dẫn mua hàng</li>
                            <li>Hóa đơn điện tử</li>
                            <li>Câu hỏi thường gặp</li>
                            <li>Vận chuyển và giao nhận</li>
                            <li>Phương thức thanh toán</li>
                            <li>Tra cứu đơn hàng</li>
                            <li>Bảng giá dịch vụ lắp đặt</li>
                        </ul>
                    </div>
                    <div class="footer-link-item">
                        <h3 class="footer-link-title">Thông tin khác</h3>
                        <ul>
                            <li>Email: <a href="#" type="email">ninhbq@magenest.com</a></li>
                            <li>Mua hàng - Góp ý - Bảo hành</li>
                            <li>Gọi: <a href="tel: 0943563112">0943563112</a> Miễn phí</li>
                            <li>Sơ đồ trang web</li>
                            <li>Cảnh báo giả mạo</li>
                            <li>Kênh tiếp nhận phản ánh về hối lộ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-child">
            <p>Copyright © 2021 mt store.</p>
        </div>
    </footer>
</th:block>

<th:block th:fragment="short-footer">
    <footer class="support-message">
        Bạn gặp khó khăn khi mua hàng? Gọi <a href="tel: 0919808080" style="color: red">0919808080</a> để
        được hỗ trợ tốt nhất.
    </footer>
</th:block>

