<th:block th:fragment="loader">
    <div class="container-loader">
        <div class="loader-wrap">
            <div class="btn-hide-loader">
                <i class="far fa-times"></i>
            </div>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</th:block>