<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/modal_img.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/category.css}">
        <link rel="stylesheet" th:href="@{/css/admin/product.css}">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Thêm bác sĩ mới</li>
            </ol>
        </div>
    </div>


    <div class="row" style="margin-top: 50px" ;>
    <div class="col-lg-3 text-center"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header text-center">
                <th:block th:if="${account_type =='customer_corporate'}">Register new Corporate Customer Account</th:block>
                <th:block th:if="${account_type =='customer_retail'}">Register new Retail Customer Account</th:block>
                <th:block th:if="${account_type =='provider'}">Thêm bác sĩ mới</th:block>
            </div>
            <div class="card-body">

                <form th:action="@{${registerAction}}" th:object="${users}" method="POST">

                    <div th:if="${registrationError != null}" class="alert alert-danger">
                        <p th:text="${registrationError}"></p>
                    </div>

                    <div class="card card-outline">
                        <div class="card-body pad">
                            <div class="cover-img">
                                <div>
                                    <label class="required-label">Ảnh dại diện sản phẩm</label> <i>(Lưu ý: Nên để nền trắng)</i>
                                </div>
                                <div class="grid-list-img">
                                    <div class="grid-item">
                                        <div class="img-container">
                                            <div class="choose-cover-img choose-img-wrap">
                                                <div class="choose-img">
                                                    <i class="fas fa-plus-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="invalid-feedback" id="invalid-feedback__coverImage"></span>
                            </div>
                            <div class="product-images">
                                <div>
                                    <label class="">Ảnh chi tiết sản phẩm</label> <i>(Lưu ý: Nên để nền trắng)</i>
                                </div>
                                <div id="list-product-image" class="grid-list-img">
                                    <div class="grid-item">
                                        <div class="img-container">
                                            <div class="choose-product-img choose-img-wrap">
                                                <div class="choose-img">
                                                    <i class="fas fa-plus-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="invalid-feedback" id="invalid-feedback__productImages"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userName">Username</label>

                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' :''}" th:field="*{userName}" placeholder="jkwowalski">
                        <div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">
                           <p th:errors="*{userName}"></p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' :''}" th:field="*{password}" placeholder="password">
                        <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                            <p th:errors="*{password}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="matchingPassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('matchingPassword') ? 'is-invalid' :''}" th:field="*{matchingPassword}"
                               placeholder="reapeat password">
                        <div th:if="${#fields.hasErrors('matchingPassword')}" class="invalid-feedback">
                            <p th:errors="*{matchingPassword}"></p>
                        </div>

                    </div>

                    <th:block th:if="${account_type =='customer_corporate'}">
                        <div class="form-group">
                            <label for="companyName">Tên công ty</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('companyName') ? 'is-invalid' :''}" th:field="*{companyName}"
                                   placeholder="company name">
                            <div th:if="${#fields.hasErrors('companyName')}" class="invalid-feedback">
                                <p th:errors="*{companyName}"></p>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="vatNumber">Mã số VAT</label>

                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('vatNumber') ? 'is-invalid' :''}" th:field="*{vatNumber}"
                                   placeholder="vat number">
                            <div th:if="${#fields.hasErrors('vatNumber')}" class="invalid-feedback">
                                <p th:errors="*{vatNumber}"></p>
                            </div>

                        </div>

                    </th:block>

                    <div class="form-group">
                        <label th:if="${account_type =='customer_corporate'}" for="firstName">Contact person first
                            name</label>
                        <label th:if="${account_type =='customer_retail' or account_type =='provider'}"
                               for="firstName">Tên</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' :''}" th:field="*{firstName}"  placeholder="Jan">
                        <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback">
                            <p th:errors="*{firstName}"></p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label th:if="${account_type =='customer_corporate'}" for="lastName">Contact person last
                            name</label>
                        <label th:if="${account_type =='customer_retail' or account_type =='provider'}"
                               for="lastName">Họ</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' :''}" th:field="*{lastName}" placeholder="Kowalski">
                        <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback">
                            <p th:errors="*{lastName}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label>

                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}" th:field="*{email}" placeholder="jkowalski@example.com">
                        <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                            <p th:errors="*{email}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>

                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' :''}" th:field="*{phone}"
                               placeholder="505162073">
                        <div th:if="${#fields.hasErrors('phone')}" class="invalid-feedback">
                            <p th:errors="*{phone}"></p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="address">Địa chỉ</label>

                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('address') ? 'is-invalid' :''}" th:field="*{address}" placeholder="ul. Adama Mickiewicza 1">
                        <div th:if="${#fields.hasErrors('address')}" class="invalid-feedback">
                            <p th:errors="*{address}"></p>
                        </div>
                    </div>

                    <th:block th:if="${account_type =='provider'}">
                        <div class="form-group">
<!--                            <p class="text-primary">retail customer target</p>-->
<!--                            <p class="text-info">corporate customer target</p>-->
                            <label>Công việc:</label>
                            <ul>
                                <li th:each="work : ${allWorks}">
                                    <input type="checkbox" th:field="*{works}" th:value="${work.id}" />
                                    <label th:for="${#ids.prev('works')}"
                                           th:text="${work.name}" th:classappend="${work.targetCustomer=='retail'} ? text-primary : text-info">French lesson</label>
                                </li>
                            </ul>
                        </div>
                    </th:block>

                    <button type="submit" class="btn btn-success">Thêm</button>


            </div>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-3 text-center"></div>
    <th:block th:replace="~{fragment/choose_img_modal :: choose-img-modal}"></th:block>
</div>
</main>

<th:block id="js-resources">
    <!-- Summernote -->
    <script th:src="@{/adminlte/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- Modal img js -->
    <script th:src="@{/adminlte/dist/js/modal_img.js}"></script>
    <script th:src="@{/script/admin/manage-category.js}"></script>

    <!-- main js -->
    <script th:src="@{/script/admin/manage-user.js}"></script>
    <script th:inline="javascript">

        $(function () {
            $('#description').summernote(
                {
                    height: 450,
                    focus: true
                }
            )

            let imgs = [[${images}]];
            let tmp = [];
            for (img of imgs) {
                tmp.push({"grid-item-img": img})
            }
            initListImg(tmp);

            var c = [[${allCategories}]]
            initListCategories(c)
        })

        $(document).ready(function () {
            const input_name = $('input[name="name"]')
            input_name.keyup(function () {
                let slug = $('input[name="slug"]')
                if (slug)
                    slug.val(convertToSlug($(this).val()));
            });

            input_name.bind("paste", function () {
                let slug = $('input[name="slug"]')
                if (slug)
                    slug.val(convertToSlug($(this).val()));
            });

        })

        $(document).on("click", ".choose-cover-img", function (event) {
            let obj = $(this).parent().parent()
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url === "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                obj.html(`
                    <div class="img-container">
                        <div class="img-div">
                            <img src="${url}" alt="product img">
                        </div>
                    </div>
                    <div class="img-btn-actions">
                        <div class="btn-edit-img">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                    <input class="d-none" name="coverImage" value="${url}" hidden>
                `)
            });
        })

        $(document).on("click", ".choose-product-img", function (event) {
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url === "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                $('#list-product-image').append(`
                    <div class="grid-item">
                        <div class="img-container">
                            <div class="img-div">
                                <img src="${url}" alt="product img">
                            </div>
                        </div>
                         <div class="img-btn-actions">
                            <div class="btn-edit-img">
                                <i class="fas fa-edit"></i>
                            </div>
                            <div class="btn-delete-img">
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </div>
                        <input class="d-none" name="productImages[]" value="${url}" hidden>
                    </div>
                `)
            });
        })

        $(document).on("click", ".btn-delete-img", function (e) {
            $(this).parent().parent().remove();
        })
        $(document).on("click", ".btn-edit-img", function (e) {
            let obj = $(this).parent().parent()
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url === "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                obj.find('input').attr('value', url)
                obj.find('input').attr('img', url)
            });
        })

        $(document).on("click", ".delete-salient-features", function (e) {
            $(this).parent().parent().remove();
        })

        $(document).on("click", ".add-salient-features", function (e) {
            $('.salient-features').append(`
                <li>
                    <div class="d-flex mb-3">
                        <label class="w-100 m-0">
                            <input name="salientFeatures[]" type="text" class="form-control"
                                   placeholder="Tính năng nổi bật">
                        </label>
                        <div class="delete-item delete-salient-features">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </li>
           `)
        })


        $(document).on("click", ".add-product-specifications", function (event) {
            console.log(event)
            let count = $('.product-specifications li').length
            $('.product-specifications').append(`
                <li>
                    <div class="d-flex mb-3">
                        <div class="d-flex w-100 m-0">
                            <div class="form-group col-6 mb-0 pl-0">
                                <select name="specifications[${count}].id" class="form-control select2bs4" aria-label="">
                                    <option value="" disabled selected>Chọn thông số</option>
                                    ${specifications.map(spec => `
                                        <option value="${spec.id}">${spec.name}</option>
                                    `).reduce((a, b) => a + b)}
                                </select>
                                <span class="invalid-feedback" id="invalid-feedback__specifications[${count}].id"></span>
                            </div>
                            <div class="form-group col-6 mb-0 pr-0">
                                <input name="specifications[0].value" type="text" class="form-control" aria-label=""
                                       placeholder="Thông số">
                                <span class="invalid-feedback" id="invalid-feedback__specifications[${count}].value"></span>
                            </div>
                        </div>
                        <div class="delete-item btn-delete-specific">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </li>
            `)

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })

        $(document).on("click", ".btn-add-product", function (e) {
            e.preventDefault();
            const form = $(this.form)
            $.ajax({
                url: '/api/admin/products',
                type: 'POST',
                data: JSON.stringify(getFormData(form)),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success(data.message);
                    setTimeout(function () {
                        window.location = "/admin/products/" + data.data.id
                    }, 500)
                },
                error: function (error) {
                    let data = error.responseJSON
                    if (data.errors instanceof Array) {
                        toastr.error(data.message);
                        $('.invalid-feedback').hide()
                        $.map(data.errors, function (e) {
                            let obj = $(`#invalid-feedback__${e.field}`)
                            obj.show();
                            obj.text(e.message)
                        })
                    } else {
                        toastr.error(error.responseText);
                    }

                }
            });
        })

        $(document).on("click", ".category-list .scroll-item .category-item", function (e) {
            let btnChooseCategory = $('.btn-choose-category')
            let categoryId = $(this).data("id")
            let col = $(this).parent().data("cols")

            let sc = listCategory.filter(i => i.id === categoryId)[0]

            console.log(sc)
            if (col === 4 || sc.categoryChild.length === 0) {
                btnChooseCategory.data("category-id", categoryId)
                categoryText(categoryId)
                btnChooseCategory.prop("disabled", false);
            } else {
                btnChooseCategory.prop("disabled", true);
            }

            function categoryText(id) {
                btnChooseCategory.data("category-text", "")
                let categoryParentId = id
                do {
                    let kq = btnChooseCategory.data("category-text")
                    let c = listCategory.filter(i => i.id === categoryParentId)[0]
                    btnChooseCategory.data("category-text", kq === "" ? c.name : c.name + ' > ' + kq)
                    categoryParentId = c.categoryParentId
                    if (categoryParentId == null) return;
                } while (true)
            }
        })

        $(document).on("click", ".btn-choose-category", function (e) {
            let btnChooseCategory = $('.btn-choose-category')
            let categoryId = btnChooseCategory.data("category-id")
            let categoryText = btnChooseCategory.data("category-text")
            $('#categoryId').val(categoryId)
            $('#choose-category').val(categoryText)
            $('#modal-choose-category').modal('hide');
        })
    </script>
</th:block>
</body>
</html>
