<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/modal_img.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/category.css}">
        <link rel="stylesheet" th:href="@{/css/admin/product.css}">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Hồ sơ bác sĩ</li>
            </ol>
        </div>
    </div>


<div class="row p-3">
    <div class="col-sm-3">
        <!--left col-->

<!--        <div class="text-center">-->
<!--            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"-->
<!--                 alt="avatar">-->

<!--        </div>-->
<!--        </hr><br>-->


<!--        <div class="card text-center">-->
<!--            <div class="card-header">-->
<!--                Lịch hẹn-->
<!--            </div>-->
<!--            <div class="card-body p-0">-->
<!--                <ul class="list-group">-->
<!--                    <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--                        Đã xếp-->
<!--                        <span class="badge badge-primary badge-pill"-->
<!--                              th:text="${numberOfScheduledAppointments}">2</span>-->
<!--                    </li>-->
<!--                    <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--                        Đã hủy vào tháng này-->
<!--                        <span class="badge badge-danger badge-pill"-->
<!--                              th:text="${numberOfCanceledAppointments}">1</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->

<!--        </div>-->


    </div>
    <!--/col-3-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="true">Hồ sơ</a>
            </li>
            <li th:if="${_user.roles.contains('ROLE_CUSTOMER') || _user.roles.contains('ROLE_PROVIDER')}" class="nav-item">
                <a class="nav-link" id="newPassword-tab" data-toggle="tab" href="#newPassword" role="tab"
                   aria-controls="newPassword" aria-selected="false">Mật khẩu</a>
            </li>

        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form th:action="@{${formActionProfile}}" th:object="${users}" method="POST">

                    <input type="hidden" class="form-control" th:field="*{id}">

                    <div class="card card-outline">
                        <div class="card-body pad">
                            <div class="cover-img">
                                <div>
                                    <label class="required-label">Ảnh bác sĩ</label> <i>(Lưu ý: Nên để nền trắng)</i>
                                </div>
                                <div class="grid-list-img">
                                    <div class="grid-item">
                                        <div class="img-container">
                                            <div class="choose-cover-img choose-img-wrap">
                                                <div class="img-container">
                                                    <div class="img-div">
                                                        <img th:src="${provider.getCoverImage()}" alt="product img" src="#" width="200px">
                                                    </div>
                                                </div>
                                                <div class="img-btn-actions">
                                                    <div class="btn-edit-img">
                                                        <i class="fas fa-edit"></i>
                                                    </div>
                                                </div>
                                                <input class="d-none" name="coverImage" th:value="${provider.getCoverImage()}"  hidden>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="invalid-feedback" id="invalid-feedback__coverImage"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="userName">Username</label>-->
<!--                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' :''}" th:field="*{userName}" readonly>-->
<!--                            <div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">-->
<!--                                <p th:errors="*{userName}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}" th:field="*{email}">
                            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                                <p th:errors="*{email}"></p>
                            </div>
                        </div>

                    </div>

                    <th:block th:if="${account_type =='customer_corporate'}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="companyName">Tên công ty</label>
                                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('companyName') ? 'is-invalid' :''}" th:field="*{companyName}">
                                <div th:if="${#fields.hasErrors('companyName')}" class="invalid-feedback">
                                    <p th:errors="*{companyName}"></p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vatNumber">Mã số VAT</label>
                                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('vatNumber') ? 'is-invalid' :''}" th:field="*{vatNumber}">
                                <div th:if="${#fields.hasErrors('vatNumber')}" class="invalid-feedback">
                                    <p th:errors="*{vatNumber}"></p>
                                </div>
                            </div>

                        </div>
                    </th:block>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">Tên</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' :''}" th:field="*{firstName}">
                            <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback">
                                <p th:errors="*{firstName}"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Họ</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' :''}" th:field="*{lastName}">
                            <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback">
                                <p th:errors="*{lastName}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' :''}" th:field="*{phone}">
                            <div th:if="${#fields.hasErrors('phone')}" class="invalid-feedback">
                                <p th:errors="*{phone}"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('address') ? 'is-invalid' :''}" th:field="*{address}">
                            <div th:if="${#fields.hasErrors('address')}" class="invalid-feedback">
                                <p th:errors="*{addyress}"></p>
                            </div>
                        </div>
                    </div>



                    <th:block th:if="${account_type =='provider'}">
                        <div class="form-group">
<!--                            <p class="text-primary">retail customer target</p>-->
<!--                            <p class="text-info">corporate customer target</p>-->
                            <label>Công việc:</label>
                            <ul>
                                <li th:each="work : ${allWorks}">
                                    <input type="checkbox" th:field="*{works}" th:value="${work.id}" />
                                    <label th:for="${#ids.prev('works')}" th:classappend="${work.targetCustomer=='retail'} ? text-primary : text-info" th:text="${work.name}">French lesson</label>
                                </li>
                            </ul>
                        </div>
                    </th:block>

                    <button type="submit" class="btn btn-primary">Lưu</button>
                </form>


            </div>
            <div class="tab-pane fade pt-3" id="newPassword" role="tabpanel" aria-labelledby="newPassword-tab">

                <form th:action="@{${formActionPassword}}" th:object="${passwordChange}" method="POST">

                    <input type="hidden" th:field="*{id}">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="currentPassword">Mật khẩu hiện tại</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('currentPassword') ? 'is-invalid' :''}" th:field="*{currentPassword}">
                            <div th:if="${#fields.hasErrors('currentPassword')}" class="invalid-feedback">
                                <p th:errors="*{currentPassword}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Mật khẩu mới</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' :''}" th:field="*{password}">
                            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                                <p th:errors="*{password}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="matchingPassword">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('matchingPassword') ? 'is-invalid' :''}" th:field="*{matchingPassword}">
                            <div th:if="${#fields.hasErrors('matchingPassword')}" class="invalid-feedback">
                                <p th:errors="*{matchingPassword}"></p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </form>
            </div>

        </div>

    </div>


</div>
<div class="col-lg-3 text-center"></div>
    <th:block th:replace="~{fragment/choose_img_modal :: choose-img-modal}"></th:block>
</div>
</main>

<th:block id="js-resources">
    <script th:src="@{/adminlte/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- main js -->
    <script th:src="@{/adminlte/dist/js/modal_img.js}"></script>
    <script th:src="@{/script/admin/manage-category.js}"></script>
    <script th:src="@{/script/admin/manage-user.js}"></script>

    <script th:inline="javascript">
        $(function () {
            let imgs = [[${images}]];
            let tmp = [];
            for (img of imgs) {
                tmp.push({"grid-item-img": img})
            }
            initListImg(tmp);

        })

        $(document).on("click", ".choose-cover-img", function (event) {
            let obj = $(this).parent().parent()
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url == "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                obj.html(`
                    <div class="img-container">
                        <div class="img-div">
                            <img src="${url}" alt="product img">
                        </div>
                    </div>
                    <div class="img-btn-actions">
                        <div class="btn-edit-img">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                    <input class="d-none" name="coverImage" value="${url}" hidden>
                `)
            });
        })

        $(document).on("click", ".btn-delete-img", function (e) {
            $(this).parent().parent().remove();
        })
        $(document).on("click", ".btn-edit-img", function (e) {
            let obj = $(this).parent().parent()
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url == "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                obj.find('input').attr('value', url)
                obj.find('input').attr('img', url)
            });
        })
    </script>
</th:block>
</body>
</html>
