<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                'short-footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Không có quyền truy cập</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
        <script>
            window.location = "/login/?redirectURI=" + window.location.href
        </script>
    </th:block>
</head>
<body>
<main id="main-content" class="error-div">
    <img th:src="@{/image/401.jpg}" alt="401" class="img-fluid">
    <a href="/">
        <button class="btn btn-secondary">Quay về trang chủ</button>
    </a>
</main>

<th:block id="js-resources"></th:block>
</body>
</html>