@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap';

html {
    font-size: 14px;
}

* {
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    color: #333333;
}

.required-label::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

/*.navbar-expand-lg .navbar-nav .nav-link {*/
/*    padding: 0 0.9375rem 0.9375rem 0.9375rem;*/
/*    transition: all 0.3s ease;*/
/*    border-bottom: 3px solid transparent;*/
/*}*/

/*.navbar-expand-lg .navbar-nav .nav-link:hover {*/
/*    border-bottom: 3px solid white;*/
/*}*/

/*.text-btn {*/
/*    cursor: pointer;*/
/*    color: #3dc5df;*/
/*}*/

a {
    text-decoration: none !important;
    color: #333333;
    cursor: pointer;
}

a:hover {
    color: inherit;
}

#cart i {
    margin-right: 0.625rem;
    font-size: 1.1875rem;
}

.custom-select:focus {
    border-color: #333333;
    box-shadow: none;
}

.trans-btn {
    color: #333333 !important;
    background-color: white !important;
    border: 0.0625rem solid #d5d6d6 !important;
    border-radius: 0.25rem;
}

.trans-btn:hover {
    background-color: white !important;
    border-color: #333333 !important;
}

.trans-btn:focus {
    background-color: white !important;
}

.trans-btn:active {
    background-color: white !important;
    border-color: #333333 !important;
}

.btn:focus,
.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:active,
.btn-primary:active {
    outline: none !important;
    box-shadow: none !important;
}

.green-btn {
    background-color: #12b76d !important;
    border-color: #12b76d !important;
    color: white !important;
}

.green-btn:hover {
    background-color: #0f985b !important;
}

.green-btn:active {
    background-color: #12b76d !important;
}

.green-btn:focus {
    background-color: #12b76d !important;
    border-color: #12b76d !important;
    color: white !important;
}

.search-result {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    max-height: 50vh;
    overflow-y: scroll;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 2px;
    z-index: 100;
}

.search-result .product-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1.25rem;
    text-align: left;
    grid-gap: 1.25rem;
    align-items: center;
    border-bottom: 1px solid #d5d6d6;
}

.search-result .search-product-brand {
    color: #767676;
}

.search-result .search-product-name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #333333;
    margin: 0.625rem 0px;
}

.search-result .search-products-sell .price-showing {
    color: #3dc5df;
    font-weight: bold;
}

.search-result .search-products-buy .price-showing {
    color: #12b76d;
    font-weight: bold;
}

.red-btn {
    background-color: #3dc5df !important;
    border-color: #3dc5df !important;
    color: white !important;
}

.red-btn:hover {
    background-color: #ce2e2f !important;
    border-color: #ce2e2f !important;
}

.red-btn:active {
    background-color: #3dc5df !important;
}

button:disabled {
    cursor: not-allowed;
}

.form-control {
    color: #333333;
    height: auto;
}

.form-control:focus {
    color: #333333;
    outline: none;
    box-shadow: none;
    border-color: #333333;
}

.form-control::placeholder {
    color: #b6b6b6;
}

/*.navbar-light .navbar-nav .nav-link {*/
/*    white-space: nowrap;*/
/*}*/

/*.navbar-light .navbar-nav .nav-link:focus {*/
/*    color: #ffffff;*/
/*}*/

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 55px;
    z-index: 105;
    display: none;
}

.back-to-top img {
    border-radius: 0.3125rem;
}

.modal-sub-title {
    font-size: 0.75rem;
    color: #abacad;
    font-weight: normal;
}

footer .social-icons {
    color: #ffffff;
}

footer .row {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer .footer-link .item {
    color: #ffffff;
    text-decoration: none;
    padding-left: 1.875rem;
}

footer .footer-link .item:hover {
    color: #eeeeee;
}

.card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .row-md {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        align-items: center;
    }
}

.card-title {
    font-size: 1.75rem !important;
    margin-bottom: 0;
    padding: 1.25rem 0 0 1.25rem;
}

.top-header {
    background-color: #1f1f1f;
    padding: 10px 0;
    max-width: 1920px;
}

.top-header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top-header a {
    color: white;
}

.top-header .social-icon {
    font-size: 1.25rem;
}

.top-header .social-icon .fa-instagram {
    margin: 0 10px;
}

.top-header .social-icon .fa-facebook-square:hover {
    color: #fafafa;
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    /*.navbar-expand-lg .navbar-nav .nav-link {*/
    /*    border-bottom: transparent !important;*/
    /*}*/
}

@media (max-width: 767px) {
    footer .footer-link .item {
        padding-left: 0px;
        padding-top: 0.3125rem;
    }

    footer .row {
        padding: 1.875rem;
    }

    footer .footer-link {
        padding-top: 0.625rem;
    }

    /*.navbar {*/
    /*    padding-left: 0px;*/
    /*    padding-right: 0px;*/
    /*}*/
}

@media (max-width: 576px) {
    footer {
        margin-top: 1.25rem;
    }
}

.btn-primary:not(:disabled):not(.disabled):active {
    border-color: inherit;
}

.pretty input:checked ~ .state.p-success label:after,
.pretty.p-toggle .state.p-success label:after {
    background-color: #3dc5df !important;
}

#toast-container {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }
}

.notification-badge {
    position: absolute;
    top: .4rem;
    right: -.2rem;
    width: .5rem;
    height: .5rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.notification-badge.notification-badge-number {
    top: 0;
    right: -.4rem;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    font-size: .7rem;
    line-height: 1.2rem;
}

.notification-badge.notification-badge-number {
    left: 15px;
    top: -6px;
}

.disabled {
    background: #dddddd;
    pointer-events: none;
}


.header-top {
    background-color: #3DC5DF;
}

.header-logo {
    margin-right: 25px;
    width: 100%;
    max-width: 210px;
}

.navbar-brand {
    width: 100%;
}

.header-logo img {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    height: 88px;
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: flex-end;
    width: 100%;
}

.header-right .nav-item.cart {
    position: relative;
}

.header-right .nav-item.cart:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 47px;
    background-color: transparent;
    top: 16px;
    left: 0;
}

.cart-content h3 {
    font-size: 18px;
    font-weight: 400;
}

.header-search {
    width: 100%;
    max-width: 416px;
    position: relative;
}

.header-search-input {
    padding-left: 15px;
}

.header-search label {
    width: 100%;
    margin-bottom: 0;
}

.header-search input {
    width: 100%;
    height: 40px;
    border: 0;
}

.header-search button {
    position: absolute;
    background-color: #ffa800;
    width: 56px;
    height: 40px;
    border: 0;
}

.header-search button i {
    font-size: 24px;
    color: #fff;
}

.header-minicart,
.header-customer,
.header-contact {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.header-minicart i,
.header-customer i,
.header-contact i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.header-contact {
    margin-left: 35px;
}

.header-contact-text {
    display: flex;
    flex-direction: column;
}

.header-contact-text strong {
    font-size: 14px;
}

.header-customer {
    margin-left: 25px;
}

.header-nav {
    height: 44px;
}

.header-nav-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.header-nav-menu {
    width: 100%;
    max-width: 256px;
    position: relative;
}

.header-nav-menu ul {
    background-color: #fff;
    position: absolute;
    width: 256px;
    z-index: 10;
    height: 384px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 3px;
    display: none;
    padding: 0;
}

.header-nav-menu ul li {
    list-style: none;
    border-top: 1px solid #dcdee3;
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    padding-left: 15px;
}

.header-nav-menu ul li:hover {
    color: #3DC5DF;
}

.header-nav-menu ul li img {
    margin-right: 10px;
}

.header-nav-menu ul li .nki-menu-fridge:before {
    content: "\E901";
    color: #a6a6a6;
}

.header-nav-menu strong {
    background-color: #413b49;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 44px;
    font-size: 16px;
}

.header-nav-menu strong i {
    font-size: 17px;
    border: 2px solid #fff;
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
}

.header-nav-menu:hover ul {
    display: block;
}

.header-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-nav-list li {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.header-nav-list li i {
    margin-right: 6px;
    font-size: 20px;
}

.header-nav-list li:first-child:after,
.header-nav-list li:nth-child(3):after {
    content: "Hot";
    position: relative;
    top: 0;
    right: -10px;
    color: #fff;
    background: #ed3324;
    border-radius: 50px;
    font-size: 12px;
    padding: 3px 8px;
    line-height: 1;
}

.header-nav-list li:not(:first-child):before {
    content: "|";
    color: rgba(0, 0, 0, 0.2);
    height: 16px;
    padding: 0 20px;
    display: inline-block;
}

.header-nav-list li:hover {
    color: #3DC5DF;
}

.header-nav-list li:hover i:before {
    color: #3DC5DF;
}

.header-nav-list.level-2 {
    display: none;
}

@media screen and (max-width: 1199.98px) {
    .header-logo {
        max-width: 180px;
        min-width: 180px;
    }

    .header-logo img {
        width: 100%;
    }

    .header-search {
        max-width: 280px;
    }

    .header-nav-menu strong {
        margin-left: -15px;
    }
}

@media screen and (max-width: 991.98px) {
    .header-logo {
        max-width: 250px;
        min-width: 250px;
    }

    .header-content {
        padding-bottom: 70px;
        padding-top: 15px;
        position: relative;
        height: unset;
    }

    .header-search {
        position: absolute;
        bottom: 15px;
        width: auto;
        max-width: unset;
        left: 0;
        right: 55px;
    }

    .header-right {
        display: none;
    }

    .header-nav-menu {
        max-width: unset;
        position: absolute;
        top: 12px;
        right: 15px;
        width: auto;
    }

    .header-nav-menu strong {
        font-size: 0;
        background-color: transparent;
        padding: 0;
    }

    .header-nav-menu strong i {
        margin: 0;
    }

    .header-nav-menu ul.header-nav-menu-list {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        max-width: 300px;
    }

    .header-nav-menu ul.header-nav-menu-list li {
        padding: 10px 15px;
        height: unset;
    }

    .header-nav-list {
        padding: 10px 0;
    }
}

@media screen and (max-width: 767.98px) {
    .header-nav {
        height: unset;
    }

    .header-nav-list {
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 0 0;
    }

    .header-nav-list li {
        margin-bottom: 20px;
        width: 50%;
    }

    .header-nav-list li:before {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    .header-nav-list li {
        width: 100%;
    }
}

.cart:hover .cart-content-wrap {
    display: block;
}

.cart-content-wrap {
    position: absolute;
    width: 400px;
    z-index: 99998;
    color: #000;
    left: -280px;
    top: 45px;
    display: none;
}

.cart-content-wrap .icon-up {
    width: 0;
    height: 0;
    display: block;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 0 0 292px;
}

.cart-content {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.cart-content ul {
    list-style: none;
    padding: 0;
}

.cart-content ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    color: #484848;
    padding: 0.3rem 0;
    justify-content: space-between;
}

.cart-content ul li:hover .product-info .remove-item {
    opacity: 1;
}

.cart-content .product-img {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
}

.cart-content .product-info {
    display: flex;
}

.cart-content .product-info .price {
    text-align: right;
    color: #f86666;
    display: flex;
    justify-content: end;
}

.cart-content .product-info .price .price-old {
    max-width: 50%;
    font-size: 90%;
    color: #a6a6a6;
    text-decoration: line-through;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.cart-content .product-info .name {
    font-weight: 500;
    text-align: right;
}

.cart-content .product-info .remove-item {
    opacity: 0;
    color: red;
    font-size: 1.25rem;
    cursor: pointer;
}

.cart-content .cart-footer .total {
    color: red;
    font-size: 1.5rem;
}

.categories-showcase .title,
.latest-news .title {
    margin-bottom: 3.125rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
}

.categories-showcase .see-more-btn-text,
.latest-news .see-more-btn-text {
    color: #c1554e;
    font-weight: 400;
}

.break-banner {
    margin: 3.125rem 0;
    text-align: center;
}

.btn-danger {
    background: #ed3324;
    border-color: #ed3324;
}

.btn-outline-danger {
    color: #ed3324;
    border-color: #ed3324;
}

.img-container {
    position: relative !important;
    width: 100% !important;
    /*padding-top: 100%;*/
}

.div-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

@media (max-width: 992px) {
    .main-heading {
        display: none;
    }

    .navbar {
        display: block;
    }

    .navbar__left {
        width: 100%;
    }

    .navbar__right {
        width: 100%;
    }

    .search-form {
        width: 100%;
    }

    .search-form .btn-primary {
        white-space: nowrap;
    }

    .nav-actions .nav-item .nav-text {
        padding-left: 0.5rem;
        display: none;
    }
}

.form-control.search-input:focus {
    border-color: white !important;
}

@media (max-width: 768px) {
    .search-form .row {
        flex-flow: nowrap;
    }

    .navbar {
        margin-bottom: 1.25rem;
    }

    .search-form .search-input-wrapper {
        width: 100%;
    }

    .search-form .search-result {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .break-banner {
        margin: 1.25rem 0px;
    }

    header {
        margin-bottom: 1.25rem;
    }
}

@media (max-width: 400px) {
    .categories-showcase .title,
    .latest-news .title {
        font-size: 1.25rem;
    }

    .categories-showcase .see-more-btn-text,
    .latest-news .see-more-btn-text {
        font-size: 0.625rem;
    }
}

@media (max-width: 576px) {
    .categories-showcase .title,
    .latest-news .title {
        margin-bottom: 1.25rem;
    }
}
