<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                'short-footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Thay đổi mật khẩu</title>
    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/sidebar.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Main Sidebar Container -->
    <th:block th:replace="~{fragment/sidebar :: sidebar}"></th:block>

    <div class="content-wrap">
        <div class="row mb-4">
            <div class="col-12">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a th:href="@{/account}">Tài khoản</a></li>
                    <li class="breadcrumb-item active">Thay đổi mật khẩu</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-title">Thay đổi mật khẩu</div>
            <div class="card-body">
                <form id="form-change-password">
                    <div class="form-group row-md">
                        <label class="required-label p-0 pr-md-4 col-md-4 text-md-right m-md-0"
                               for="oldPassword">Mật khẩu cũ</label>
                        <div class="col-md-5 pl-1">
                            <input name="oldPassword"
                                   required=""
                                   type="password"
                                   minlength="2" maxlength="255"
                                   placeholder="Nhập mật khẩu cũ"
                                   class="form-control "
                                   id="oldPassword">
                            <span class="invalid-feedback" id="invalid-feedback__oldPassword"></span>
                        </div>
                    </div>
                    <div class="form-group row-md">
                        <label class="required-label p-0 pr-md-4 col-md-4 text-md-right m-md-0"
                               for="newPassword">Mật khẩu mới</label>
                        <div class="col-md-5 pl-1">
                            <input name="newPassword"
                                   required=""
                                   type="password"
                                   minlength="2" maxlength="255"
                                   placeholder="Nhập mật khẩu mới"
                                   class="form-control "
                                   id="newPassword">
                            <div class=""><a th:href="@{/forgot-password}"></a></div>

                            <span class="invalid-feedback" id="invalid-feedback__newPassword"></span>
                        </div>
                    </div>
                    <div class="form-group row-md">
                        <label class="required-label p-0 pr-md-4 col-md-4 text-md-right m-md-0"
                               for="confirmPassword">Xác Nhận Mật Khẩu</label>
                        <div class="col-md-5 pl-1">
                            <input name="confirmPassword"
                                   required=""
                                   type="password"
                                   minlength="2" maxlength="255"
                                   placeholder="Nhập lại mật khẩu mới"
                                   class="form-control "
                                   id="confirmPassword">
                            <span class="invalid-feedback" id="invalid-feedback__confirmPassword"></span>
                        </div>
                    </div>
                    <div class="row-md">
                        <div class=" p-0 pr-md-4 col-md-4 text-md-right m-md-0"></div>
                        <div class="col-md-8 p-0">
                            <button class="btn btn-outline-danger btn-change-password">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <!-- AdminLTE App -->
    <script th:src="@{/adminlte/dist/js/adminlte.js}"></script>
    <script th:src="@{/script/account.js}"></script>
    <script>
        $(document).on("click", ".btn-change-password", function (event) {
            event.preventDefault();
            const form = $(this.form)
            $.ajax({
                url: '/api/change-password',
                type: 'POST',
                data: JSON.stringify(getFormData(form)),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    toastr.success(res.message);
                    $('.invalid-feedback').hide()
                    $(`#form-change-password input[type="password"]`).val('');
                },
                error: function (error) {
                    let data = error.responseJSON
                    if (data.errors instanceof Array) {
                        toastr.error(data.message);
                        $('.invalid-feedback').hide()
                        $.map(data.errors, function (e) {
                            let obj = $(`#invalid-feedback__${e.field}`)
                            obj.show();
                            obj.text(e.message)
                        })
                    } else {
                        toastr.error(data);
                    }
                },
            });
        })
    </script>
</th:block>
</body>
</html>