<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>


    <th:block id="css-resources">
        <!-- Fullcalendar CSS -->
        <link rel="stylesheet" th:href="@{/css/vendor/fullcalendar.css}"/>
        <!-- Site CSS -->
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <!--DataTables CSS-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

        <link rel="stylesheet" th:href="@{/css/vendor/bootstrap-notifications.css}"/>

    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách user</li>
            </ol>
        </div>
    </div>


    <!-- Page Content -->
<div class="row mt-3">
    <div class="col">

    </div>
    <div class="col-10">
        <div id='calendar'></div>
    </div>
    <div class="col">

    </div>
</div>


</main>

<th:block id="js-resources">
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- main js -->
    <script th:src="@{/script/admin/manage-user.js}"></script>
    <!--jQuery-->
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Moment-->
    <script type="text/javascript" th:src="@{/js/vendor/moment.js}"></script>
    <!--FullCalendar-->
    <script type="text/javascript" th:src="@{/js/vendor/fullcalendar.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/lang-all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.0.0-alpha/locale-all.js"></script>
    <!--DataTables-->
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



    <script th:inline="javascript">
        $(function () {
            $('#calendar').fullCalendar({
                locale: 'VI',
                defaultView: 'agendaWeek',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },
                allDaySlot: false,
                minTime: "06:00:00",
                maxTime: "22:00:00",
                timeFormat: 'H:mm', // uppercase H for 24-hour clock,
                firstDay: 1,
                eventSources: [

                    {
                        url: /*[[${'/api/users/'+users.id+'/appointments'}]]*/ '/api/users/1/appointments',
                        color: 'yellow',
                        textColor: 'black'

                    }
                ]
            })

        });
    </script>
</th:block>
</body>
</html>

