<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>

    <th:block id="css-resources">
        <!-- summernote -->
        <!--        <link rel="stylesheet" th:href="@{/adminlte/plugins/select2-to-tree/src/select2totree.css}">-->
        <link rel="stylesheet" th:href="@{/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/modal_img.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/list_image_product.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/category.css}">
        <link rel="stylesheet" th:href="@{/css/admin/product.css}">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách user</li>
            </ol>
        </div>
    </div>


    <div class="row" style="margin-top: 50px" ;>
    <div class="col-md-2 text-center"></div>
    <div class="col-md-8 text-center">
        <div class="card">
            <div class="card-header">
                Thêm hoặc cập nhật công việc
            </div>
            <div class="card-body">

                <form th:action="@{/works/new}" th:object="${work}" method="POST">
                    <input type="hidden" th:field="*{id}" th:value="${work.id}">
                    <div class="form-group row">
                        <label for="name" class="col-md-3 col-form-label">Tên</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-md-3 col-form-label">Giá thành</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" th:field="*{price}" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="duration" class="col-md-3 col-form-label">Thời lượng</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" th:field="*{duration}" placeholder="Duration">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="template" class="col-md-3 col-form-label">Mẫu kết quả</label>
                        <div class="col-md-9">
                            <textarea th:if="${work.template == null}"
                                      name="template"
                                      class="form-control" id="description"
                                      placeholder="Mô tả sản phẩm">
                            </textarea>
                            <textarea th:if="${work.template != null}"
                                      name="template"
                                      class="form-control" id="description"
                                      th:utext="${work.template}"
                                      placeholder="Mô tả sản phẩm">
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-md-3 col-form-label">Mô tả</label>
                        <div class="col-md-9">
                                <textarea class="form-control" th:field="*{description}" rows="3"
                                          placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <legend class="col-form-label col-md-3 pt-0">Target customer</legend>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="targetCustomer" id="retail"
                                       value="retail"
                                       th:checked="*{targetCustomer =='retail' or targetCustomer== null}">
                                <label class="form-check-label" for="retail">Retail</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="targetCustomer" id="corporate"
                                       value="corporate" th:checked="*{targetCustomer=='corporate'}">
                                <label class="form-check-label" for="corporate">Corporate</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <legend class="col-form-label col-md-3 pt-0">Khách hàng có thể huỷ ?</legend>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="editable" id="option1" value="1"
                                       th:checked="*{editable}">
                                <label class="form-check-label" for="option1">Có</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="editable" id="option2" value="0"
                                       th:checked="*{editable == false}">
                                <label class="form-check-label" for="option2">Không</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-primary">Lưu</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center"></div>
</div>
</main>

<th:block id="js-resources">
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- main js -->
    <script th:src="@{/script/admin/manage-user.js}"></script>
    <!--jQuery-->
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Moment-->
    <script type="text/javascript" th:src="@{/js/vendor/moment.js}"></script>
    <!--FullCalendar-->
    <script type="text/javascript" th:src="@{/js/vendor/fullcalendar.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/lang-all.js"></script>
    <!--DataTables-->
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!-- Summernote -->
    <script th:src="@{/adminlte/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- Modal img js -->
    <script th:src="@{/adminlte/dist/js/modal_img.js}"></script>
    <script th:src="@{/script/admin/manage-category.js}"></script>
    <script th:inline="javascript">
        let specifications = [[${brands}]]


        $(function () {
            $('#description').summernote(
                {
                    height: 450,
                    focus: true
                }
            )

            let imgs = [[${images}]];
            let tmp = [];
            for (img of imgs) {
                tmp.push({"grid-item-img": img})
            }
            initListImg(tmp);

            var c = [[${allCategories}]]
            initListCategories(c)
        })

        $(document).ready(function () {
            const input_name = $('input[name="name"]')
            input_name.keyup(function () {
                let slug = $('input[name="slug"]')
                if (slug)
                    slug.val(convertToSlug($(this).val()));
            });

            input_name.bind("paste", function () {
                let slug = $('input[name="slug"]')
                if (slug)
                    slug.val(convertToSlug($(this).val()));
            });

        })

        $(document).on("click", ".choose-cover-img", function (event) {
            let obj = $(this).parent().parent()
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url === "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                obj.html(`
                    <div class="img-container">
                        <div class="img-div">
                            <img src="${url}" alt="product img">
                        </div>
                    </div>
                    <div class="img-btn-actions">
                        <div class="btn-edit-img">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                    <input class="d-none" name="coverImage" value="${url}" hidden>
                `)
            });
        })

        $(document).on("click", ".choose-product-img", function (event) {
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url === "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                $('#list-product-image').append(`
                    <div class="grid-item">
                        <div class="img-container">
                            <div class="img-div">
                                <img src="${url}" alt="product img">
                            </div>
                        </div>
                         <div class="img-btn-actions">
                            <div class="btn-edit-img">
                                <i class="fas fa-edit"></i>
                            </div>
                            <div class="btn-delete-img">
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </div>
                        <input class="d-none" name="productImages[]" value="${url}" hidden>
                    </div>
                `)
            });
        })

        $(document).on("click", ".btn-delete-img", function (e) {
            $(this).parent().parent().remove();
        })
        $(document).on("click", ".btn-edit-img", function (e) {
            let obj = $(this).parent().parent()
            $('#choose-img-modal').modal('show');
            $("#choose-img-modal .btn-choose-img").on('click', function (event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                if (url === "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                obj.find('input').attr('value', url)
                obj.find('input').attr('img', url)
            });
        })

        $(document).on("click", ".delete-salient-features", function (e) {
            $(this).parent().parent().remove();
        })

        $(document).on("click", ".add-salient-features", function (e) {
            $('.salient-features').append(`
                <li>
                    <div class="d-flex mb-3">
                        <label class="w-100 m-0">
                            <input name="salientFeatures[]" type="text" class="form-control"
                                   placeholder="Tính năng nổi bật">
                        </label>
                        <div class="delete-item delete-salient-features">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </li>
           `)
        })


        $(document).on("click", ".add-product-specifications", function (event) {
            console.log(event)
            let count = $('.product-specifications li').length
            $('.product-specifications').append(`
                <li>
                    <div class="d-flex mb-3">
                        <div class="d-flex w-100 m-0">
                            <div class="form-group col-6 mb-0 pl-0">
                                <select name="specifications[${count}].id" class="form-control select2bs4" aria-label="">
                                    <option value="" disabled selected>Chọn thông số</option>
                                    ${specifications.map(spec => `
                                        <option value="${spec.id}">${spec.name}</option>
                                    `).reduce((a, b) => a + b)}
                                </select>
                                <span class="invalid-feedback" id="invalid-feedback__specifications[${count}].id"></span>
                            </div>
                            <div class="form-group col-6 mb-0 pr-0">
                                <input name="specifications[0].value" type="text" class="form-control" aria-label=""
                                       placeholder="Thông số">
                                <span class="invalid-feedback" id="invalid-feedback__specifications[${count}].value"></span>
                            </div>
                        </div>
                        <div class="delete-item btn-delete-specific">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </li>
            `)

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })

        $(document).on("click", ".btn-add-product", function (e) {
            e.preventDefault();
            const form = $(this.form)
            $.ajax({
                url: '/api/admin/products',
                type: 'POST',
                data: JSON.stringify(getFormData(form)),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success(data.message);
                    setTimeout(function () {
                        window.location = "/admin/products/" + data.data.id
                    }, 500)
                },
                error: function (error) {
                    let data = error.responseJSON
                    if (data.errors instanceof Array) {
                        toastr.error(data.message);
                        $('.invalid-feedback').hide()
                        $.map(data.errors, function (e) {
                            let obj = $(`#invalid-feedback__${e.field}`)
                            obj.show();
                            obj.text(e.message)
                        })
                    } else {
                        toastr.error(error.responseText);
                    }

                }
            });
        })

        $(document).on("click", ".category-list .scroll-item .category-item", function (e) {
            let btnChooseCategory = $('.btn-choose-category')
            let categoryId = $(this).data("id")
            let col = $(this).parent().data("cols")

            let sc = listCategory.filter(i => i.id === categoryId)[0]

            console.log(sc)
            if (col === 4 || sc.categoryChild.length === 0) {
                btnChooseCategory.data("category-id", categoryId)
                categoryText(categoryId)
                btnChooseCategory.prop("disabled", false);
            } else {
                btnChooseCategory.prop("disabled", true);
            }

            function categoryText(id) {
                btnChooseCategory.data("category-text", "")
                let categoryParentId = id
                do {
                    let kq = btnChooseCategory.data("category-text")
                    let c = listCategory.filter(i => i.id === categoryParentId)[0]
                    btnChooseCategory.data("category-text", kq === "" ? c.name : c.name + ' > ' + kq)
                    categoryParentId = c.categoryParentId
                    if (categoryParentId == null) return;
                } while (true)
            }
        })

        $(document).on("click", ".btn-choose-category", function (e) {
            let btnChooseCategory = $('.btn-choose-category')
            let categoryId = btnChooseCategory.data("category-id")
            let categoryText = btnChooseCategory.data("category-text")
            $('#categoryId').val(categoryId)
            $('#choose-category').val(categoryText)
            $('#modal-choose-category').modal('hide');
        })

        $(document).on("click", "#btn--save__medical-examination-results", function (event) {
            event.preventDefault();
            const form = $(this.form)
            console.log(this)
            let id = $(this).data("id")
            $.ajax({
                url: '/appointments/api/appointments/' + id + '/medical-examination-results',
                type: 'PUT',
                data: JSON.stringify(getFormData(form)),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success(data.message);

                    $('.invalid-feedback').hide()
                    form[0].reset()
                },
                error: function (error) {
                    let data = error.responseJSON
                    if (data.errors instanceof Array) {
                        toastr.error(data.message);
                        $('.invalid-feedback').hide()
                        $.map(data.errors, function (e) {
                            let obj = $(`#invalid-feedback__${e.field}`)
                            obj.show();
                            obj.text(e.message)
                        })
                    } else {
                        toastr.error(error.responseText);
                    }
                }
            });
        })
    </script>
</th:block>
</body>
</html>
