<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>

    <th:block id="css-resources">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách user</li>
            </ol>
        </div>
    </div>
    <div th:text="${_user.roles.contains('ROLE_CUSTOMER')}"></div>
    <div th:text="${_user.roles.contains('ROLE_CUSTOMER_RETAIL')}"></div>
    <div th:text="${_user.roles}"></div>

    <div class="row align-items-center justify-content-center" style="margin-top: 50px">


    <div class="col-md-3 m-3" th:each="provider : ${providers}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title"><span th:text="${provider.firstName +' ' +provider.lastName}"> Name
                            Lastname</span></h5>
                <p th:if="${_user.roles.contains('ROLE_CUSTOMER_RETAIL')}"
                   th:text="${'Available works: '+ provider.getRetailWorks().size()}">Available works: 3</p>
                <p th:if="${_user.roles.contains('ROLE_CUSTOMER_CORPORATE')}"
                   th:text="${'Available works: '+ provider.getCorporateWorks().size()}">Available works: 3</p>
                <a th:href="@{'/appointments/new/'+${provider.id}}" class="btn btn-primary">Select</a>

            </div>
        </div>
    </div>

</div>
</main>

<th:block id="js-resources">
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- main js -->
    <script th:src="@{/script/admin/manage-user.js}"></script>
</th:block>
</body>
</html>
